In [1]:
import boto3
import logging
import numpy as np
import pandas as pd
import awswrangler as wr
from datetime import timedelta
from src import prep, train, pred
from statsmodels.tsa.arima.model import ARIMA
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV

In [2]:
orders_data = prep.get_orders_data()
sales, train_data, test_data = prep.process_and_split_data(orders_data)
model_fit = train.train_arima_model(train_data)
future_forecast_df = pred.make_future_forecast(model_fit)

In [3]:
sales.head()

         date  total_sales
0  2023-11-18      52825.5
1  2023-11-19      35925.0
2  2023-11-20      26480.0
3  2023-11-21       5844.0
4  2023-11-22       9928.0

In [5]:
max_date = pd.to_datetime(sales['date']).max()
max_date

Timestamp('2024-05-15 00:00:00')